<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Dashboard')"></th:block>
<body>
	<div class="container-fluid">
	  	<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<div class="card mb-3">
					  <div class="card-header"><h1 th:text="${orderCountToday}">10</h1></div>
					  <div class="card-body text-dark">
					    <p class="card-text">Orders for Today</p>
					  </div>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<div class="card mb-3">
					  <div class="card-header"><h1>0</h1></div>
					  <div class="card-body text-dark">
					    <p class="card-text">Products with Low Count</p>
					  </div>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<div class="card mb-3">
					  <div class="card-header"><h1 th:text="'Php ' + ${totalSalesAmount}">Php 0</h1></div>
					  <div class="card-body text-dark">
					    <p class="card-text">Total Sales for Today</p>
					  </div>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<div class="card mb-3">
					  <div class="card-header"><h1 th:text="'Php ' + ${totalExpenseAmount}">Php 0</h1></div>
					  <div class="card-body text-dark">
					    <p class="card-text">Total Expenses for Today</p>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="mt-3 chart-container shadow p-3 mb-5 bg-white rounded" style="position: relative; ">
			  		<canvas id="weeklySalesChart" width="400" height="300"></canvas>
			  	</div>
			</div>
			
			<div class="col">
				<div class="mt-3 chart-container shadow p-3 mb-5 bg-white rounded" style="position: relative; ">
			  		<canvas id="productSalesChart" width="400" height="300"></canvas>
			  	</div>
			</div>
		</div>	
	  	
	  	<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	
	<th:block th:replace="fragments/common::javascript"></th:block>
	
	<!-- Script for Weekly Sales Chart -->
	<script th:inline="javascript">
		
		Chart.defaults.global.defaultFontFamily = "Raleway";
		
		var weeklySalesData = /*[[${weeklySalesData}]]*/[];
		var ctx = document.getElementById('weeklySalesChart').getContext('2d');
		
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: Object.keys(weeklySalesData),
		        datasets: [{
		            label: 'Total Sales',
		            data: Object.keys(weeklySalesData).map(function(key) {return weeklySalesData[key];}),
		            backgroundColor: [
		            	'rgba(54, 162, 235, 1)',
		            	'rgba(54, 162, 235, 1)',
		            	'rgba(54, 162, 235, 1)',
		            	'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)'
		            ],
		            borderColor: [
		            	'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(54, 162, 235, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
		
		//Script for Product Sales Chart
		var dailyProductSalesData = /*[[${dailyProductSales}]]*/[];
		var ctx = document.getElementById('productSalesChart').getContext('2d');
		
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: Object.keys(dailyProductSalesData),
		        datasets: [{
		            label: 'Daily Product Sales',
		            data: Object.keys(dailyProductSalesData).map(function(key) {return dailyProductSalesData[key];}),
		            backgroundColor: [
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)'
		            ],
		            borderColor: [
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)',
		            	'rgba(75, 192, 192, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
	</script>
			
</body>