<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('New Product Category')"></th:block>
<body>
    <div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
        <div class="row">
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<!-- New Product Category Form -->
					<h2>NEW PRODUCT CATEGORY</h2>
                    <form th:action="@{/productcategories}" th:object="${productCategory}" method="post">
                      <input type="hidden" th:field="*{id}" />
                      <div class="row">
                          <div class="col-sm">
                              <div class="form-group">
                                  <label for="name">Name:</label>
                                  <span class="validationError text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                  <input type="text" class="form-control" th:field="*{name}"/>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix">
                          <button type="submit" class="btn btn-dark float-right ml-1">Save</button>
                          <a th:href="@{/productcategories}" class="btn btn-dark float-right">Cancel</a>
                      </div>
                    </form>
  				</div>
  			</div>
  		</div>
  
        <!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
</body>
</html>