<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Product Category List')"></th:block>

<body>
  <h1>Product Category List</h1>
  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <th:block th:each="cat : ${categories}">
      <tr>
        <td><a th:href="|@{/productcategories}/${cat.id}|" th:text="${cat.id}"></a></td>
        <td><a th:href="|@{/products/category}/${cat.id}|" th:text="${cat.name}"></a></td>
        <td>Edit</td>
      </tr>
      </th:block>
    </tbody>
  </table>
</body>
</html>