<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Create New Product')"></th:block>
<body>
	<div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<!-- New Product  Form -->
					<h2>NEW PRODUCT</h2>
					<form th:action="@{/products}" th:object="${product}" method="post">
						<input type="hidden" th:field="*{id}" />
						
						<!-- Category Selection -->
						<div class="row">
						    <div class="col-sm">
							<div class="form-group ">
								<label for="category.id">Category:</label> 
								<select class="form-control" id="category.id" name="category.id">
									<option selected>Select...</option>
									<option th:each="cat : ${categories}" th:value="${cat.id}"
										th:text="${cat.name}"
										th:selected="${product.category != null ? cat.id == product.category.id : false}"></option>
								</select>
    						    <div class="my-2">
        					        <a th:href="@{/productcategories/new}" class="btn btn-dark float-right">Add New Category</a>
		    				    </div>
						    </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm">
								<!-- Brand -->
							<div class="form-group">
								<label for="brand">Brand:</label> 
								<span class="validationError text-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>
								<input class="form-control" type="text" th:field="*{brand}" />
							</div>
							</div>
							
							<div class="col-sm">
								<!-- Name -->
								<div class="form-group">
									<label for="name">Name:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
									<input class="form-control" type="text" th:field="*{name}" />
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm">
								<!-- Vehicle -->
								<div class="form-group">
									<label for="forVehicle">Vehicle:</label> 
									<input type="text" class="form-control" th:field="*{forVehicle}" />
								</div>
							</div>
							
							<div class="col-sm">
								<!-- Color -->
								<div class="form-group">
									<label for="color">Color:</label> 
									<input type="text" class="form-control" th:field="*{color}" />
								</div>
							</div>
						</div>	
							
						<div class="row">
							<div class="col-sm">
							
							</div>
							
							<div class="col-sm">
							
							</div>
						</div>	
						
						<div class="row">
							<div class="col-sm">
								<!-- Aqui Price -->
								<div class="form-group">
									<label for="aquiPrice">Aqui Price:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('aquiPrice')}" th:errors="*{aquiPrice}"></span> 
									<input type="text" class="form-control" th:field="*{aquiPrice}" />
								</div>
							</div>
							
							<div class="col-sm">
								<!-- SRP -->
								<div class="form-group">
									<label for="srp">SRP:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('srp')}" th:errors="*{srp}"></span> 
									<input type="text" class="form-control" th:field="*{srp}" />
								</div>
							</div>
						</div>	
						
						<div class="row">
							<div class="col-sm">
								<!-- Stock Level -->
								<div class="form-group">
									<label for="stockLevel">Stock Level:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('srp')}" th:errors="*{srp}"></span> 
									<input type="text" class="form-control" th:field="*{stockLevel}" />
								</div>
							</div>
							
							<div class="col-sm">
								<!-- Threshold -->
								<div class="form-group">
									<label for="threshold">Threshold:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('srp')}" th:errors="*{srp}"></span> 
									<input type="text" class="form-control" th:field="*{threshold}" />
								</div>
							</div>
						</div>	
						
						<div class="row">
							<div class="col-sm">
								<!-- Supplier Name -->
								<div class="form-group">
									<label for="supplierName">Supplier Name:</label> 
									<input type="text" class="form-control" th:field="*{supplierName}" />
								</div>
							</div>
							
							<div class="col-sm">
								<!-- Other Details -->
								<div class="form-group">
									<label for="otherDetails">Other Details:</label> 
									<input class="form-control" type="text" th:field="*{otherDetails}" />
								</div>
							</div>
						</div>	
						
						<div class="clearfix">
					    	<button type="submit" class="btn btn-dark float-right ml-1">Save</button>
					    	<a th:href="@{/products}" class="btn btn-dark float-right">Cancel</a>
					    </div>
					</form>
					
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
</body>
</html>