<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Product Details')"></th:block>
<body>
	<div class="bmd-layout-container bmd-drawer-f-l">
		<div th:replace="fragments/common::navbar">Drawer goes here</div>
		
		<main class="bmd-layout-content"> 
			<div class="container">
				<th:block th:object="${product}">
					<table class="table table-hover table-bordered detailsPage" style="width: 100%">
						<tr>
							<td class="detailsField">ID</td>
							<td th:text="*{id}"></td>
						</tr>
						<tr>
							<td class="detailsField">Name</td>
							<td th:text="*{name}"></td>
						</tr>
						<tr>
							<td class="detailsField">Brand</td>
							<td th:text="*{brand}"></td>
						</tr>
						<tr>
							<td class="detailsField">Other Details</td>
							<td th:text="*{otherDetails}"></td>
						</tr>
					</table>
				</th:block>
			</div>
		</main>
		
		<section>
		  <div class="container">
		    <div class="row">
		      <div class="col-12">
		        <form th:action="@{|/api/upload-file/${product.id}|}" method="post" enctype="multipart/form-data">
		        <input type="file" name="file" accept="image/*">
		        <button>Upload Photo</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</section>
		
		<section>
		  <div class="container">
		    <div class="row">
		      <img alt="ALT" th:each="image: ${imageList}" th:src="${image.downloadUri}" width="300" height="300">
		    </div>
		  </div>
		</section>
		
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	
	<th:block th:replace="fragments/common::javascript"></th:block>
</body>
</html>