<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Products')"></th:block>

<body>
	<div class="bmd-layout-container bmd-drawer-f-l">
		<div th:replace="fragments/common::navdrawer">Drawer goes here</div>
		
		<main class="bmd-layout-content">
			<div class="container">
				
				<!-- Product List -->
				<table id="dataTables-productList" class="table table-hover table-bordered" style="width:100%">
					<thead class="datatable-thead">
						<tr>
							<th class="th-sm">Id</th>
							<th class="th-sm">Category</th>
							<th class="th-sm">Name</th>
							<th class="th-sm">Brand</th>
							<th class="th-sm">SRP</th>
							<th class="th-sm">Aqui Price</th>
							<th class="th-sm">Supplier</th>
							<th class="th-sm">Stock Level</th>
							<th class="th-sm">Low stock?</th>
							<th class="th-sm">Actions</th>
						</tr>
					</thead>
					<tbody>
				  	<th:block th:each="product : ${products}">
					  	<tr>
					  		<td><a th:href="|@{/products}/${product.id}|" th:text="${product.id}"></a></td>
					  		<td><a th:href="|@{/products/category}/${product.category.id}|" th:text="${product.category.name}"></a></td>
					  		<td th:text="${product.name}"></td>
					  		<td th:text="${product.brand}"></td>
					  		<td th:text="${product.srp}"></td>
					  		<td th:text="${product.aquiPrice}"></td>
					  		<td th:text="${product.supplierName}"></td>
					  		<td th:text="${product.stockLevel}"></td>
					  		<td th:text="${product.stockLevel &lt; product.threshold ? 'LOW' : ''}"></td>
					  		<td><a type="button" class="btn btn-elegant float-center">Edit</a></td>
					  	</tr>
				  	</th:block>
				  </tbody>
				</table>
				
				<!-- New Product Button -->
				<div class="clearfix">
					<a type="button" class="btn btn-elegant float-right" th:href="@{/products/new}">New Product</a>
				</div>
			</div>
		</main>
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	<th:block th:replace="fragments/common::javascript"></th:block>
	
	<script>
		$(document).ready(function() {
		    $('#dataTables-productList').DataTable({

		    });
		} );
	</script>
</body>
</html>