<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Create New Order')"></th:block>
<body>
	<div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
		<form th:action="@{/orders}" th:object="${orderForm}" method="post">
			<div class="row">
				<div class="col">
					<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
						<!-- New Product  Form -->
						<h2>NEW ORDER</h2>
						<div class="clearfix">
					    	<button type="button" id="addProduct" class="btn btn-dark float-right">Add Product</button>
					    </div>
					    <hr/>
						<input type="hidden" th:field="*{order.id}" />
							<!-- Product Selection -->
							<div id="productContainer">
<!-- 								<div class="row"> -->
<!-- 									<div class="col-sm-2"> -->
										
<!-- 									</div> -->
									
<!-- 									Category Label -->
<!-- 									<div class="col-sm-3"> -->
<!-- 										<label for="category.id">Product Category:</label>  -->
<!-- 									</div> -->
									
<!-- 									Product Label -->
<!-- 									<div class="col-sm-3"> -->
<!-- 										<label for="product.id">Product:</label>  -->
<!-- 									</div> -->
									
<!-- 									Quantity Label -->
<!-- 									<div class="col-sm-2"> -->
<!-- 										<label for="quantity">Quantity:</label>  -->
<!-- 									</div> -->
									
<!-- 									Total Label -->
<!-- 									<div class="col-sm-2"> -->
<!-- 										<label for="totalAmount">Amount:</label>  -->
<!-- 									</div> -->
<!-- 								</div> -->
								
								<div id="productRow" class="row form-group" th:each="orderItem, i : ${orderForm.orderItems}">
									
									<!-- Remove -->
									<div class="col-sm-1">
										<button id="removeButton" onclick="removeProduct(0)" type="button" class="form-control btn btn-danger float-right">x</button>
									</div>
									
									<!-- Category -->
									<div class="col-sm-2">
										<div class="form-group">
											<select class="form-control category" th:field="*{orderItems[__${i.index}__].categoryId}" id="category0" name="category" data-toggle="tooltip" data-placement="bottom" title="Category">
												<option selected value="0">Category...</option>
												<option th:each="cat : ${categories}" th:value="${cat.id}"
													th:text="${cat.name}"
													></option>
											</select>
										</div>
									</div>
									
									<!-- Product -->
									<div class="col-sm-3">
										<div class="form-group">
											<select class="form-control product" id="product0" name="product" th:field="*{orderItems[__${i.index}__].product}" data-toggle="tooltip" data-placement="bottom" title="Product">
												<option disabled="disabled" value="0" selected>Product...</option>
											</select>
										</div>
									</div>
									
									<!-- Override Price -->
									<div class="col-sm-2">
										<div class="form-group">
											<input name="priceOverride" id="priceOverride0" class="form-control priceOverride" type="number" min=0 th:field="*{orderItems[__${i.index}__].priceOverride}" data-toggle="tooltip" data-placement="bottom" title="Unit Price"/>
										</div>
									</div>
									
									<!-- Quantity -->
									<div class="col-sm-2">
										<div class="form-group">
											<span class="validationError text-danger" th:if="${#fields.hasErrors('orderItems[__${i.index}__].quantity')}" th:errors="*{orderItems[__${i.index}__].quantity}"></span>
											<input name="quantity" id="quantity0" class="form-control quantity" type="number" min=0 th:field="*{orderItems[__${i.index}__].quantity}" data-toggle="tooltip" data-placement="bottom" title="Quantity"/>
										</div>
									</div>
									
									<!-- Total -->
									<div class="col-sm-2">
										<div class="form-group">
											<input name="totalAmount" id="totalAmount0" class="form-control subTotal" type="number" th:field="*{orderItems[__${i.index}__].totalAmount}" placeholder=0 readonly data-toggle="tooltip" data-placement="bottom" title="Sub Total"/>
										</div>
									</div>
								</div>
							</div>
							<hr/>
							
							<!-- Total Amount Computed -->
							<div class="row">
								<div class="col-sm-8">
								</div>
								<div class="col-sm-2">
									<p>TOTAL AMOUNT</p>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<input name="totalAmountComputed" id="totalAmountComputed" class="form-control" type="number" th:field="*{order.totalAmount}" readonly/>
									</div>
								</div>
							</div>
						
						<!-- Order Details -->	
						<div class="row">
							<!-- Customer-->
							<div class="col-sm">
								<div class="form-group">
									<label for="customer.id">Customer:</label>
									<select class="form-control" id="customer.id" name="customer.id" th:field="*{order.customer}">
										<option selected value="0">Select...</option>
										<option th:each="cust : ${customers}" th:value="${cust.id}" th:text="${cust.name}"></option>
									</select>
								</div>
							</div>
							
							<!-- Payment Type -->
							<div class="col-sm">
								<div class="form-group">
									<span class="validationError text-danger" th:if="${#fields.hasErrors('order.paymentType')}" th:errors="*{order.paymentType}"></span>
									<label for="paymentType">Payment Type:</label> 
									<select class="form-control" th:field="*{order.paymentType}" >
										<option value="1">Cash</option>
										<option value="2">Check</option>
									</select>
								</div>
							</div>
							
							<!-- Monthly Due Date -->
							<div class="col-sm">
								<div class="form-group">
									<label for="monthlyDue">Monthly Due Date:</label> 
									<select class="form-control" type="date" th:field="*{order.monthlyDueDate}" >
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
										<option value="24">24</option>
										<option value="25">25</option>
										<option value="26">26</option>
										<option value="27">27</option>
										<option value="28">28</option>
										<option value="29">29</option>
										<option value="30">30</option>
									</select>
								</div>
							</div>
						</div>
						
						<!-- Remarks -->
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="remarks">Remarks:</label>
									<textarea class="form-control" th:field="*{order.remarks}"></textarea>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							<button type="submit" class="btn btn-dark float-right ml-1">Save</button>
							<a th:href="@{/orders}" class="btn btn-dark float-right">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	
	<th:block th:replace="fragments/common::javascript"></th:block>
	
	<script th:inline="javascript">
		
		$('#productContainer').on('change','.category',
			function() {
				var catId = $(this).val();
				var rowNum = 0;
				rowNum = $(this).attr("id").replace("category", "");
				
				$.getJSON("http://localhost:8080/api/productCategories/" + catId + "/products", {
	                ajax : 'true'
	            }, function(data) {
	            	var html = '<option value="">Product...</option>';
	                var products = data._embedded.products;
	                
	                var productOptions = products.reduce(
	                	(a,p) => a+=`<option value="${p.id}" data-row-srp="${p.srp}" >${p.name}`
	                	, ''
	                	)
	                	
	                html += productOptions;
	                
// 	                var len = products.length;
// 	                for ( var i = 0; i < len; i++) {
// 	                    html += '<option value="' + products[i].id + '">'
// 	                            + products[i].name + '</option>';
// 	                }
// 	                html += '</option>';
	                
	                $('#product'+rowNum).html(html);
	            });
        });
		
		function updateTotalAmount(){
			var totalAmount = 0;
			var lastSubTotalElement = $(".subTotal:last");
			var lastRow = lastSubTotalElement.attr("id").replace("totalAmount", "");	
			
			for (var i = 0; i <= lastRow; i++) {
				var subTotalAmount = 0;
				if ($("#totalAmount"+i).val() != null) {
					subTotalAmount = parseFloat($("#totalAmount"+i).val());
					totalAmount = parseFloat(totalAmount) + subTotalAmount;
				}
			}
			console.log("totalAmount: " + totalAmount);
			$("#totalAmountComputed").val(totalAmount);
		}
		
		$('#productContainer').on('change','.product',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").replace("product", "");
				var productId = $(this).val();
				var srp = $("option:selected", this).attr("data-row-srp");
				$(this).attr("data-row-srp", srp);
				$("#priceOverride"+rowNum).val(srp);
				$("#quantity"+rowNum).val(0);
				$("#totalAmount"+rowNum).val(0);
				updateTotalAmount();
	      	});
		
		$('#productContainer').on('change','.priceOverride',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").replace("priceOverride", "");
				var subTotalOverride = $(this).val() * $("#quantity"+rowNum).val();
				$("#totalAmount"+rowNum).val(subTotalOverride);
				updateTotalAmount();
	      	});
		
		$('#productContainer').on('change','.quantity',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").replace("quantity", "");
				var subTotal = $(this).val() * $("#priceOverride"+rowNum).val();
				$("#totalAmount"+rowNum).val(subTotal);
				updateTotalAmount();
	      	});
	
		function removeProduct(index){
			$("#productRow"+index).remove();
			updateTotalAmount();
		}
	
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		})
		
		var i = 0;
	
	 	$(document).ready(function() {
			 
			 // Add Product
			 $("#addProduct").click(function() {
				 
				 let categories = /*[[${categories}]]*/[];
				 
				 var options = categories.reduce(
					(a,c) => a+=`<option value="${c.id}">${c.name}</option>`
	                	, ''
				 )
				 
				 var productRowWrapper = 
					 $(`
						<div id="productRow`+i+`" class="row form-group">
							<!-- Remove -->
							<div class="col-sm-1">
								<button id="removeButton" onclick="removeProduct(`+i+`)" type="button" class="form-control btn btn-danger float-right">x</button>
							</div>
							
							<!-- Category -->
							<div class="col-sm-2">
								<div class="form-group">
									<select class="form-control category" id="category`+i+`" name="category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Category">
										<option selected>Category...</option>
										${options}
									</select>
								</div>
							</div>
							
							<!-- Product -->
							<div class="col-sm-3">
								<div class="form-group">
									<select class="form-control product" id="product`+i+`" name="product" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Product">
										<option disabled="disabled" selected>Product...</option>
										
									</select>
								</div>
							</div>
							
							<!-- Override Price -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].priceOverride" id="priceOverride`+i+`" class="form-control priceOverride" value=0 type="number" data-toggle="tooltip" data-placement="bottom" title="Unit Price"/>
								</div>
							</div>
							
							<!-- Quantity -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].quantity" id="quantity`+i+`" class="form-control quantity" value=0 type="number" data-toggle="tooltip" data-placement="bottom" title="Quantity" >
								</div>
							</div>
							
							<!-- Total -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].totalAmount" id="totalAmount`+i+`" class="form-control subTotal" value=0 type="number" readonly="" data-toggle="tooltip" data-placement="bottom" title="Sub Total">
								</div>
							</div>
						</div>
					 `);
				 
				 $("#productContainer").append(productRowWrapper);
				 $('[data-toggle="tooltip"]').tooltip();
				 i++;
			 });
			 
			$('[id="productRow"]').each(function() {
				var rowNumbered = "productRow"+i;
					$(this).attr("id", rowNumbered);
					i++;
			});
			
// 			$(this).find('[id="removeButton"]').each(function() {
// 				var removeProductCall = "removeProduct("+i+")";
// 				$(this).attr("onclick", removeProductCall);
// 			});
			
		 });
	
	</script>
</body>
</html>