<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Orders')"></th:block>
<body>
	<div class="bmd-layout-container bmd-drawer-f-l">
	  	<div th:replace="fragments/common::navdrawer">Drawer goes here</div>

	  	<main class="bmd-layout-content"> 
			<div class="container">
				  <table id="dataTables-orderList" class="table table-hover table-bordered" style="width:100%">
				  <thead class="datatable-thead">
				    <tr>
				      <th class="th-sm">Reference Number
				      </th>
				      <th class="th-sm">Type
				      </th>
				      <th class="th-sm">Order Date
				      </th>
				      <th class="th-sm">Payment Type
				      </th>
				      <th class="th-sm">Total Amount
				      </th>
				      <th class="th-sm">Remarks
				      </th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="order : ${orders}">
					  	<tr>
					  		<td th:text="${order.referenceNum}"></td>
					  		<td th:text="${order.type}"></td>
					  		<td th:text="${order.createdDate}"></td>
					  		<td th:text="${order.paymentType}"></td>
					  		<td th:text="${order.totalAmount}"></td>
					  		<td th:text="${order.remarks}"></td>
					  	</tr>
				  	</th:block>
				  </tbody>
				</table>
				
				<div class="clearfix">
					<button type="button" class="btn btn-elegant float-right">Create Order</button>
				</div>
			</div>
	  	</main>
	  	
	  	<th:block th:replace="fragments/common::footer"></th:block>
	</div>

	<th:block th:replace="fragments/common::javascript"></th:block>

	<script th:inline="javascript">

// 	$(document).ready(function() {
		 
// 		displayOrderListDatatable();
		 
// 		 function displayOrderListDatatable(){
//  			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/'';
	    		
// 	    		var dataTable = $('#dataTables-orderList').DataTable({	    			
// 	    			"ajax" : {
// 	    				url : "/orders/listDto",
// 	    				dataSrc: "orderList",
// 	    			},	    			
// 	    			"lengthMenu": [5, 10, 25, 50],
// 	    			"ordering": false,
// 	                "columnDefs": [
// 	    			    { "width": "5%", "targets": 3 }
// 	    			],
// 	    			"columns": [
// 	    				{ data: "customerName" },
// 	    				{ data: "totalAmount" },
// 	    				{ data: "createdDate" },	    				
// 	    				{ data: "remarks" }
// 	    			]
// 	    		});  		
// 	    	} //end displayOrderListDatatable()
	    	
// 	});
	
	</script>
	
	<script>
		  // Material Design example
// 		$(document).ready(function () {
// 		  $('#dataTables-orderList').DataTable({
// 			  "pagingType": "first_last_numbers"
// 		  });
		  
// 		  $('#dataTables-orderList_wrapper').find('label').each(function () {
// 		    $(this).parent().append($(this).children());
// 		  });
// 		  $('#dataTables-orderList_wrapper .dataTables_filter').find('input').each(function () {
// 		    const $this = $(this);
// 		    $this.attr("placeholder", "Search");
// 		    $this.removeClass('form-control-sm');
// 		  });
// 		  $('#dataTables-orderList_wrapper .dataTables_length').addClass('d-flex flex-row');
// 		  $('#dataTables-orderList_wrapper .dataTables_filter').addClass('md-form');
// 		  $('#dataTables-orderList_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
// 		  $('#dataTables-orderList_wrapper select').addClass('mdb-select');
// 		  $('#dataTables-orderList_wrapper .mdb-select').materialSelect();
// 		  $('#dataTables-orderList_wrapper .dataTables_filter').find('label').remove();
// 		});
	</script>
	
	<script>
		$(document).ready(function() {
		    $('#dataTables-orderList').DataTable({
// 		    	"pagingType": "first_last_numbers"
		    });
		} );
	</script>
</body>