<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Orders')"></th:block>
<body>
	<div class="container-fluid">
	  	<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>

	  	<div class="row">
    		<div class="col">
				<div class="container-fluid mt-3">
				<!-- Order List -->
				<table id="dataTables-orderList" class="table table-hover table-bordered" style="width: 100%">
					<thead class="datatable-thead thead-dark">
						<tr>
							<th class="th-sm">Reference Number</th>
							<th class="th-sm">Type</th>
							<th class="th-sm">Order Date</th>
							<th class="th-sm">Payment Type</th>
							<th class="th-sm">Total Amount</th>
							<th class="th-sm">Remarks</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="order : ${orders}">
							<tr>
								<td th:text="${order.referenceNum}"></td>
								<td th:text="${order.type}"></td>
								<td th:text="${order.createdDate}"></td>
								<td th:text="${order.paymentType}"></td>
								<td th:text="${order.totalAmount}"></td>
								<td th:text="${order.remarks}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				
					<!-- New Order Button -->
					<div class="card" style="width: 18rem; float:right;">
					  	<a type="button" class="btn btn-outline-dark float-right" th:href="@{/orders/new}">New Order</a>
					</div>
					
<!-- 					<div class="clearfix"> -->
<!-- 						<a type="button" class="btn btn-outline-dark float-right" th:href="@{/orders/new}">New Order</a> -->
<!-- 					</div> -->
					
					<!-- Footer -->
					<th:block th:replace="fragments/common::footer"></th:block>
				</div>
			</div>
	  	</div>
	</div>

	<th:block th:replace="fragments/common::javascript"></th:block>

	<script>
		$(document).ready(function() {
		    $('#dataTables-orderList').DataTable({
		    });
		} );
	</script>
</body>