<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Dashboard')"></th:block>
<body>
	<div id="vuetifyapp">
	    <v-app>
	    	<th:block th:replace="fragments/common::navdrawer"></th:block>
	      	<th:block th:replace="fragments/common::appbar"></th:block>
	      <v-main>
	        <v-container>
	          	<v-card-title>
	        		Create Order
	        	</v-card-title>
	        	<v-card-text>
	        		
	        	</v-card-text>
	        </v-container>
	      </v-main>
	      	<th:block th:replace="fragments/common::footer"></th:block>
	    </v-app>
	</div>
	<th:block th:replace="fragments/common::vuetify"></th:block>
	
	<script th:inline="javascript">
	 
	</script>
</body>