<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('New Transaction')"></th:block>
<body>
  <div class="container-fluid">
  	<!-- Navigation Bar -->
	<div class="row">
		<div class="col">
			<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
				<!-- New In/Out Transaction Form -->
				<h2>NEW IN/OUT TRANSACTION</h2>
				
				<form th:action="@{/inouthistory}" th:object="${inouthistory}" method="post">
				    <input type="hidden" th:field="*{id}" />
				    
				    <!-- Product -->
				    <div class="row">
				    	<div class="col-sm">
					      <div class="form-group">
						      <label for="product.id">Product:</label>
						      <select class="form-control"  id="product.id" name="product.id">
						        <option th:each="product : ${products}" 
						          th:value="${product.id}" 
						          th:text="${product.name}"
						          th:selected="${inouthistory.product != null ? product.id == inouthistory.product.id : false}"
						          ></option>
						      </select>
					      </div>
				      	</div>
				    </div>
				    
				     <div class="row">
				    	<div class="col-sm">
				    		<!-- Date -->
				    		<div class="form-group">
						      <label for="transDate">Date:</label>
						      <input class="form-control" type="date" th:field="*{transDate}"/>
					      	</div>
				    	</div>
				    	<div class="col-sm">
				    		<!-- Transaction Type -->
				    		<div class="form-group">
				    			<label for="transType">Type:</label> 
			    				<select class="form-control" id="transType" name="transType">
									<option value='IN'>IN</option>
									<option value='OUT'>OUT</option>
								</select>
							</div>
				    	</div>
				    </div>
				    
				    <div class="row">
				    	<div class="col-sm">
				    		<div class="form-group">
					    		<label for="productCount">Product Count:</label>
					      		<input class="form-control" type="text" th:field="*{productCount}"/>
				      		</div>
				    	</div>
						<div class="col-sm">
							<div class="form-group">
					    		<label for="productCount">Updated Count:</label>
					      		<input class="form-control" type="text" th:field="*{productCount}"/>
				      		</div>
				    	</div>				    	
				    </div>
				    
				    <div class="clearfix">
				    	<button type="submit" class="btn btn-dark float-right">Save</button>
				    </div>
				</form>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<th:block th:replace="fragments/common::footer"></th:block>
 </div>
</body>
</html>