<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('In and Out History')"></th:block>

<body>
	<div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
		<div class="row">
    		<div class="col">
    			<div class="container-fluid mt-3 shadow-lg p-3 mb-3 bg-white rounded">
    				<!-- New Transaction Button -->
					<div class="card" style="width: 18rem; float:right;">
						<a type="button" class="btn btn-dark float-right" th:href="@{/inouthistory/new}">New Transaction</a>
					</div>
					
    				<!-- In Out History -->
    				<h2>IN/OUT HISTORY</h2>
    				<div class="row">
				        <div class="col-lg-12">
				            <th:block th:if="${message != null}">
				                <div class="alert alert-success alert-dismissible" role="alert">
				                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				                        X
				                    </button>
				                    <strong th:text="${message}"></strong>
				                </div>
				            </th:block>
				        </div>
				    </div>
    				<table id="dataTables-inOutHistory" class="table table-hover table-bordered" style="width:100%">
					    <thead class="datatable-thead thead-dark">
					      <tr>
					        <th class="th-sm">Id</th>
					        <th class="th-sm">Transaction Date</th>
					        <th class="th-sm">Type</th>
					        <th class="th-sm">Product</th>
					        <th class="th-sm">Count</th>
					        <th class="th-sm">Updated Count</th>
					        <th class="th-sm">Actions</th>
					      </tr>
					    </thead>
					    <tbody>
					      <th:block th:each="txn : ${inouthistories}">
					      <tr>
					        <td><a th:href="|@{/productcategories}/${txn.id}|" th:text="${txn.id}"></a></td>
					        <td><th:block th:text="${txn.transDate}"></th:block></td>
					        <td><th:block th:text="${txn.transType}"></th:block></td>
					        <td><a th:href="|@{/products}/${txn.product.id}|" th:text="${txn.product.name}"></a></td>
					        <td><th:block th:text="${txn.productCount}"></th:block></td>
					        <td><th:block th:text="${txn.updatedCount}"></th:block></td>
					        <td>Edit</td>
					      </tr>
					      </th:block>
					    </tbody>
					  </table>
    			</div>
    		</div>
    	</div>
    	
    	<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
  
  <th:block th:replace="fragments/common::javascript"></th:block>
	
	<script>
		$(document).ready(function() {
		    $('#dataTables-inOutHistory').DataTable({

		    });
		} );
	</script>
</body>
</html>