<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Create New Order')"></th:block>
<body>
	<div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
	<div class="row">
		<div class="col">
			<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
				<!-- New In/Out Transaction Form -->
				<h2>NEW SALES RETURN</h2>
				
				<form th:action="@{/salesreturns}" th:object="${salesReturn}" method="post">
				    <input type="hidden" th:field="*{id}" />
				    
				    <div class="row">
				    	<div class="col-sm">
				    		<!-- Date -->
				    		<div class="form-group">
						      <label for="returnDate">Date:</label>
						      <span class="validationError text-danger" th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"></span>
      						  <input class="form-control" type="date" th:field="*{returnDate}"/>
					      	</div>
				    	</div>
				    	<div class="col-sm">
				    		<!-- Transaction Type -->
				    		<div class="form-group">
				    			<label for="invoiceNumber">Invoice No.:</label> 
			    				<span class="validationError text-danger" th:if="${#fields.hasErrors('invoiceNumber')}" th:errors="*{invoiceNumber}"></span>
      						    <input class="form-control" type="text" th:field="*{invoiceNumber}"/>
							</div>
				    	</div>
				    </div>
				    
				    <!-- Stock -->
				    <div class="row">
				    	<div class="col-sm">
					      <div class="form-group">
						      <label for="stock.id">Product:</label>
						      <select class="form-control"  id="stock.id" name="stock.id">
						        <option value="0">- Select Product -</option>
						        <option th:each="stock : ${stockList}" 
						          th:value="${stock.id}" 
						          th:text="${stock.product.name} + ' (' + ${stock.unitCost} + ')'"
						          th:selected="${salesReturn.stock != null ? stock.id == salesReturn.stock.id : false}"
						          ></option>
						      </select>
					      </div>
				      	</div>
				      	<div class="col-sm">
				    		<div class="form-group">
					    		<label for="quantity">Quantity:</label>
					      		<span class="validationError text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
      						    <input class="form-control" type="number" th:field="*{quantity}"/>
				      		</div>
				    	</div>
				    </div>
				    
				    <div class="clearfix">
				    	<button type="submit" class="btn btn-dark float-right ml-1">Save</button>
				    	<a th:href="@{/salesreturns}" class="btn btn-dark float-right">Cancel</a>
				    </div>
				</form>
			</div>
		</div>
	</div>
		<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	
	<th:block th:replace="fragments/common::javascript"></th:block>
	
	<script th:inline="javascript">
		
		function updateTotalAmount(){
			var totalAmount = 0;
			var lastSubTotalElement = $(".subTotal:last");
			var lastRow = lastSubTotalElement.attr("id").replace("totalAmount", "");	
			
			for (var i = 0; i <= lastRow; i++) {
				var subTotalAmount = 0;
				if ($("#totalAmount"+i).val() != null) {
					subTotalAmount = parseFloat($("#totalAmount"+i).val());
					totalAmount = parseFloat(totalAmount) + subTotalAmount;
				}
			}
			console.log("totalAmount: " + totalAmount);
			$("#totalAmountComputed").val(totalAmount);
		}
		
		$('#productContainer').on('change','.product',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").replace("product", "");
				var productId = $(this).val();
				var srp = $("option:selected", this).attr("data-row-srp");
				$(this).attr("data-row-srp", srp);
				$("#sellingPrice"+rowNum).val(srp);
				$("#discountPrice"+rowNum).val(0);
				$("#quantity"+rowNum).val(0);
				$("#totalAmount"+rowNum).val(0);
				updateTotalAmount();
	      	});
		
		$('#productContainer').on('change','.sellingPrice',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").substring(15,1);
				var subTotalOverride = ($(this).val() - $('#discountPrice'+rowNum).val()) * $('#quantity'+rowNum).val();
				$("#totalAmount"+rowNum).val(subTotalOverride);
				updateTotalAmount();
	      	});
		
		$('#productContainer').on('change','.discountPrice',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").substring(15,1);
				var subTotalOverride = ($('#sellingPrice'+rowNum).val() - $(this).val()) * $("#quantity"+rowNum).val();
				$("#totalAmount"+rowNum).val(subTotalOverride);
				updateTotalAmount();
	      	});
		
		$('#productContainer').on('change','.quantity',
			function() {
				var rowNum = 0;
				rowNum = $(this).attr("id").substring(15,1);
				var subTotal = $(this).val() * ($('#sellingPrice'+rowNum).val() - $('#discountPrice'+rowNum).val());
				$("#totalAmount"+rowNum).val(subTotal);
				updateTotalAmount();
	      	});
		
		$('#paymentType').change(
			function() {
				var pType = $(this).val();
				if (pType == "cash") {
					$("#monthlyDue").val("0");
					$("#monthlyDue").prop('disabled', true);
				} else {
					$("#monthlyDue").prop('disabled', false);;
				}
				updateTotalAmount();
	      	});
	
		function removeProduct(index){
			$("#productRow"+index).remove();
			updateTotalAmount();
		}
	
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		})
		
		var i = 0;
	
		$(document).ready(function() {
			 
			 // Add Product
			 $("#addProduct").click(function() {
				 
				 let stocks = /*[[${stockList}]]*/[];
				 
				 var options = stocks.reduce(
					(a,s) => a+=`<option value="${s.id}">${s.product.name} (${s.quantity})</option>`
	                	, ''
				 )
				 
				 var productRowWrapper = 
					 $(`
						<div id="productRow`+i+`" class="row form-group">
							<!-- Remove -->
							<div class="col-sm-1">
								<button id="removeButton" onclick="removeProduct(`+i+`)" type="button" class="form-control btn btn-danger float-right">x</button>
							</div>
							
							<!-- Product -->
							<div class="col-sm-3">
								<div class="form-group">
									<select name="orderItems[`+i+`].product" id="product`+i+`" class="form-control product" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Product">
										<option disabled="disabled" selected>- Select Product -</option>
										
									</select>
								</div>
							</div>
							
							<!-- Override Price -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].priceOverride" id="priceOverride`+i+`" class="form-control priceOverride" value=0 type="number" data-toggle="tooltip" data-placement="bottom" title="Unit Price"/>
								</div>
							</div>
							
							<!-- Quantity -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].quantity" id="quantity`+i+`" class="form-control quantity" value=0 type="number" data-toggle="tooltip" data-placement="bottom" title="Quantity" >
								</div>
							</div>
							
							<!-- Total -->
							<div class="col-sm-2">
								<div class="form-group">
									<input name="orderItems[`+i+`].totalAmount" id="totalAmount`+i+`" class="form-control subTotal" value=0 type="number" readonly="" data-toggle="tooltip" data-placement="bottom" title="Sub Total">
								</div>
							</div>
						</div>
					 `);
				 
				 $("#productContainer").append(productRowWrapper);
				 $('[data-toggle="tooltip"]').tooltip();
				 i++;
			 });
			 
			$('[id="productRow"]').each(function() {
				var rowNumbered = "productRow"+i;
					$(this).attr("id", rowNumbered);
					i++;
			});
			
		 });
	
	</script>
</body>
</html>