<html xmlns:th="http://www.thymeleaf.org">

<!-- Meta header -->
<th:block th:fragment="header(title)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title th:text="${title}"></title>
</head>
</th:block>
<body>
    <div th:fragment="navdrawer">
      <v-navigation-drawer v-model="drawer" app>
        <v-list dense>
          <v-list-item @click="routePage('home')">
            <v-list-item-action>
              <v-icon>mdi-home-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('about')">
            <v-list-item-action>
              <v-icon>mdi-information-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>About</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('orders')">
            <v-list-item-action>
              <v-icon>mdi-cart-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Orders</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('products')">
            <v-list-item-action>
              <v-icon>mdi-wallet-giftcard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Products</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('inouthistory')">
            <v-list-item-action>
              <v-icon>mdi-sync</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Products In/Out</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('expenses')">
            <v-list-item-action>
              <v-icon>mdi-cash-usd-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Expenses</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="routePage('reports')">
            <v-list-item-action>
              <v-icon>mdi-chart-line</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Reports</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </div>
    
    <div th:fragment="appbar">
      <v-app-bar app color="black" dense dark>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>
          <span>FALCON GARAGE</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <span class="mr-2">v1.1</span>
      </v-app-bar>
    </div>
    
    <div th:fragment="footer">
      <v-footer app color="black" dense dark>
        <span class="white--text">&copy; 2020 FALCON GARAGE</span>
      </v-footer>
    </div>
    
    <div th:fragment="vuetify">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.2/dist/vuetify.min.js"></script>
    <script th:inline="javascript">
    	const vm = new Vue({
	        el: '#vuetifyapp',
	        vuetify: new Vuetify(),
	  	    data() {
	        	return {
		  		  msg: 'world',
		  		  drawer: false,
	        	}
	  	    },
	  	    methods: {
	  	    	routePage(page) {
	  	    		alert('Go to page: ' + page + ', not yet implemented.')
	  	    	}
	  	    }
	    });
    </script>
    </div>
    
</body>