<html xmlns:th="http://www.thymeleaf.org">

<!-- Meta header -->
<th:block th:fragment="header(title)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    
    <!-- Custom css -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
    <link th:href="@{https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css">
	<script th:src="@{https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js}"></script>
	
    <title th:text="${title}"></title>
</head>
</th:block>
<body>
		
	<div th:fragment="appHeader">
      	<nav class="navbar fixed-top navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Falcon Garage</a>
      	</nav>
    </div>
    
    <th:block th:fragment="navdrawer">
		<div class="bmd-layout-header">
			<div class="navbar navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#appDrawer">
					<span class="sr-only">Toggle drawer</span> <i
						class="material-icons">menu</i>
				</button>
				<a class="navbar-brand" href="#">Falcon Garage</a>
			</div>
		</div>
		
		<div id="appDrawer" class="bmd-layout-drawer bg-faded">
			<ul class="list-group">
		      <li><a th:href="@{/dashboard}" class="list-group-item menu"><i class="material-icons">home</i>Home</a></li>
		      <li><a th:href="@{/about}" class="list-group-item menu"><i class="material-icons">bookmark</i>Information</a></li>
		      <li><a th:href="@{/orders/list}" class="list-group-item menu"><i class="material-icons">shopping_cart</i>Orders</a></li>
		      <li><a th:href="@{/products/list}" class="list-group-item menu"><i class="material-icons">commute</i>Products</a></li>
		      <li><a th:href="@{/inouthistory/list}" class="list-group-item menu"><i class="material-icons">swap_horizontal_circle</i>In/Out History</a></li>
		      <li><a th:href="@{/expenses/list}" class="list-group-item menu"><i class="material-icons">payments</i>Expenses</a></li>
		      <li><a th:href="@{/customers/list}" class="list-group-item menu"><i class="material-icons">person</i>Customers</a></li>
		      <li><a th:href="@{/reports}" class="list-group-item menu"><i class="material-icons">insert_chart</i>Reports</a></li>
		    </ul>
    	</div>
<!--       <v-navigation-drawer v-model="drawer" app> -->
<!--         <v-list dense> -->
<!--           <v-list-item @click="routePage('home')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-home-outline</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Dashboard</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('about')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-information-outline</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>About</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('orders')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-cart-outline</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Orders</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('products')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-wallet-giftcard</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Products</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('inouthistory')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-sync</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Products In/Out</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('expenses')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-cash-usd-outline</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Expenses</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--           <v-list-item @click="routePage('reports')"> -->
<!--             <v-list-item-action> -->
<!--               <v-icon>mdi-chart-line</v-icon> -->
<!--             </v-list-item-action> -->
<!--             <v-list-item-content> -->
<!--               <v-list-item-title>Reports</v-list-item-title> -->
<!--             </v-list-item-content> -->
<!--           </v-list-item> -->
<!--         </v-list> -->
<!--       </v-navigation-drawer> -->
    </th:block>
    
    <div th:fragment="footer">
      	<nav class="navbar fixed-bottom navbar-dark bg-dark">
      		<a class="navbar-brand" href="#">2020 Falcon Garage</a>
      	</nav>
    </div>
    
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>    
</body>