<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<th:block th:replace="fragments/common::header('Add New Supplier')"></th:block>
<body>
	<div class="container-fluid">
		<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="container mt-3 shadow p-3 mb-5 bg-white rounded">
					<h2 th:if="${user.id == 0}">NEW USER</h2>
                    <h2 th:if="${user.id != 0}">EDIT USER</h2>
					<form th:action="@{/users}" th:object="${user}" method="post" autocomplete="off">
						<input type="hidden" th:field="*{id}" />
                        <input type="hidden" name="password" value="*" th:if="*{id != 0}"/>
						
						<div class="row">
							<div class="col-sm">
								<!-- Name -->
								<div class="form-group">
									<label for="firstName">First Name:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
									<input class="form-control" type="text" th:field="*{firstName}" />
								</div>
							</div>
              
                            <div class="col-sm">
                              <!-- Name -->
                              <div class="form-group">
                                <label for="lastName">Last Name:</label> 
                                <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                <input class="form-control" type="text" th:field="*{lastName}" />
                              </div>
                            </div>
						</div>
            
                        <div class="row">
							<div class="col-sm">
								<!-- Color -->
								<div class="form-group">
									<label for="email">Email Address:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <input type="text" class="form-control" th:field="*{email}" />
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="username">Username:</label> 
									<span class="validationError text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                    <input class="form-control" type="text" th:field="*{username}" th:readonly="*{id != 0}"/>
								</div>
							</div>
						</div>
						
						<div class="row">
                            <div class="col-sm">
                              <div class="form-group">
                                <label for="role">Role:</label> 
                                <span class="validationError text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                                <select class="form-control" th:field="*{role}">
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_INVENTORY">INVENTORY</option>
                                    <option value="ROLE_SALES">SALES</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm" th:if="*{id == 0}">
                              <div class="form-group">
                                <label for="password">Password:</label> 
                                <span class="validationError text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                <input class="form-control" type="password" th:field="*{password}" />
                              </div>
                            </div>
						</div>
                        <div class="row" th:if="*{id != 0}">
                            <div class="col-sm-6">
                                  <h4>Reset password?</h4>
                            </div>
                        </div>
                        <div class="row" th:if="*{id != 0}">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>New Password:</label>
                                  <input type="password" name="newPassword" class="form-control">
                              </div>
                            </div>
                        </div>
						
						<div class="clearfix">
					    	<button type="submit" class="btn btn-dark float-right ml-1">Save</button>
					    	<a th:href="@{/users}" class="btn btn-dark float-right">Cancel</a>
					    </div>
					</form>
					
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<th:block th:replace="fragments/common::footer"></th:block>
	</div>
	<th:block th:replace="fragments/common::javascript"></th:block>
</body>
</html>