@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.v-application {
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}