<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Expenses')"></th:block>
<body>
	<div class="container-fluid">
	  	<!-- Navigation Bar -->
		<div class="row">
			<div class="col">
				<div th:replace="fragments/common::navbar">Navigation bar goes here</div>
			</div>
		</div>

	  	<div class="row">
    		<div class="col">
				<div class="container-fluid mt-3">
				<!-- Order List -->
				<table id="dataTables-expenseList" class="table table-hover table-bordered" style="width: 100%">
					<thead class="datatable-thead thead-dark">
						<tr>
							<th class="th-sm">Type</th>
							<th class="th-sm">Amount</th>
							<th class="th-sm">Expense Date</th>
							<th class="th-sm">Remarks</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="expense : ${expenses}">
							<tr>
								<td th:text="${expense.type}"></td>
								<td th:text="${expense.amount}"></td>
								<td th:text="${expense.expenseDate}"></td>
								<td th:text="${expense.remarks}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				
					<!-- New Expense Button -->
					<div class="card" style="width: 18rem; float:right;">
					  	<a type="button" class="btn btn-outline-dark float-right" th:href="@{/expenses/new}">New Expense</a>
					</div>
					
					<!-- Footer -->
					<th:block th:replace="fragments/common::footer"></th:block>
				</div>
			</div>
	  	</div>
	</div>

	<th:block th:replace="fragments/common::javascript"></th:block>

	<script>
		$(document).ready(function() {
		    $('#dataTables-expenseList').DataTable({
		    });
		} );
	</script>
</body>