<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>

    <form method="post" th:action="@{/authenticate}" id="loginForm">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" />
        <br />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <br />
        <button type="submit">Login</button>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.2/dist/vuetify.min.js"></script>
    <script th:inline="javascript">
	    new Vue({
	        el: '#app',
	        vuetify: new Vuetify(),
	  	    data: {
	  		  msg: 'world'
	  	    }
	    })
    </script>
    
    <script th:inline="javascript">
    let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/'';
    
    const loginForm = document.querySelector('form#loginForm');

    loginForm.addEventListener('submit', (e) => {
    	e.preventDefault();
    	let url = e.target.action || contextRoot + '/authenticate';
    	let username = document.getElementById('username').value;
    	let password = document.getElementById('password').value;
    	console.log(JSON.stringify({username,password}));
    	return fetch(url,{
    		method: 'POST',
    		headers: {
    			'Content-Type': 'application/json'
    		},
    		body: JSON.stringify({username, password})
    	})
   		.then(handleResponse) // usually, res => res.json()
   		.then(data => {
   			console.log(data.jwttoken);
   			localStorage.setItem('ehrJwtToken', data.jwttoken);
   			//location.replace(contextRoot + '/dashboard');
   			console.log(document)
   			return fetch(contextRoot + '/dashboard', {
   				method: 'GET',
   				headers: {
   					'Authorization': 'Bearer ' + data.jwttoken
   				}
   			});
   		})
   		.then(response => response.text())
   		.then(text => {
   			document.open('text/html', 'replace');
   			document.write(text);
   			document.close();
   		});
    });
    
    function logout() {
        // remove user from local storage to log user out
        localStorage.removeItem('ehrJwtToken');
    }

    function handleResponse(response) {
        return response.text().then(text => {
    	    console.log(text);
            const data = text && JSON.parse(text);
            if (!response.ok) {
                if (response.status === 401) {
                    // auto logout if 401 response returned from api
                    logout();
                    location.reload(true);
                }

                const error = (data && data.message) || response.statusText;
                return Promise.reject(error);
            }

            return data;
        });
    }
    </script>
</body>
</html>