<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Login')"></th:block>

<body>
    <div id="app">
  	  <v-container>
  	    <v-layout row>
  	      <v-flex xs12 sm6 offset-sm3>
  	        <v-card>
  	          <v-card-text>
  	            <v-container>
  	              <form th:action="@{/login}" method="post">
  	                <v-layout row>
  	                  <v-flex xs12>
  	                    <v-text-field
  	                      name="username"
  	                      label="Username"
  	                      id="username"
  	                      type="text"
  	                      required></v-text-field>
  	                  </v-flex>
  	                </v-layout>
  	                <v-layout row>
  	                  <v-flex xs12>
  	                    <v-text-field
  	                      name="password"
  	                      label="Password"
  	                      id="password"
  	                      type="password"
  	                      required></v-text-field>
  	                  </v-flex>
  	                </v-layout>
  	                <v-layout row>
  	                  <v-flex xs12>
  	                    <v-btn type="submit">Sign in</v-btn>
  	                  </v-flex>
  	                </v-layout>
  	              </form>
  	            </v-container>
  	          </v-card-text>
  	        </v-card>
  	      </v-flex>
  	    </v-layout>
  	  </v-container>
    </div>
    
	<th:block th:replace="fragments/common::footer"></th:block>
	<th:block th:replace="fragments/common::vuetify"></th:block>
    
</body>
</html>