<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common::header('Customers')"></th:block>
<body>
	<div class="bmd-layout-container bmd-drawer-f-l">
	  	<div th:replace="fragments/common::navdrawer">Drawer goes here</div>

	  	<main class="bmd-layout-content"> 
			<div class="container">
				  <table id="dtMaterialDesignExample" class="table table-bordered table-hover" cellspacing="0" width="100%">
				  <thead>
				    <tr>
				      <th class="th-sm">Name
				      </th>
				      <th class="th-sm">Position
				      </th>
				      <th class="th-sm">Office
				      </th>
				      <th class="th-sm">Age
				      </th>
				      <th class="th-sm">Start date
				      </th>
				      <th class="th-sm">Salary
				      </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tiger Nixon</td>
				      <td>System Architect</td>
				      <td>Edinburgh</td>
				      <td>61</td>
				      <td>2011/04/25</td>
				      <td>$320,800</td>
				    </tr>
				    <tr>
				      <td>Garrett Winters</td>
				      <td>Accountant</td>
				      <td>Tokyo</td>
				      <td>63</td>
				      <td>2011/07/25</td>
				      <td>$170,750</td>
				    </tr>
				    <tr>
				      <td>Ashton Cox</td>
				      <td>Junior Technical Author</td>
				      <td>San Francisco</td>
				      <td>66</td>
				      <td>2009/01/12</td>
				      <td>$86,000</td>
				    </tr>
				    <tr>
				      <td>Cedric Kelly</td>
				      <td>Senior Javascript Developer</td>
				      <td>Edinburgh</td>
				      <td>22</td>
				      <td>2012/03/29</td>
				      <td>$433,060</td>
				    </tr>
				    <tr>
				      <td>Airi Satou</td>
				      <td>Accountant</td>
				      <td>Tokyo</td>
				      <td>33</td>
				      <td>2008/11/28</td>
				      <td>$162,700</td>
				    </tr>
				    <tr>
				      <td>Brielle Williamson</td>
				      <td>Integration Specialist</td>
				      <td>New York</td>
				      <td>61</td>
				      <td>2012/12/02</td>
				      <td>$372,000</td>
				    </tr>
				    <tr>
				      <td>Herrod Chandler</td>
				      <td>Sales Assistant</td>
				      <td>San Francisco</td>
				      <td>59</td>
				      <td>2012/08/06</td>
				      <td>$137,500</td>
				    </tr>
				    <tr>
				      <td>Rhona Davidson</td>
				      <td>Integration Specialist</td>
				      <td>Tokyo</td>
				      <td>55</td>
				      <td>2010/10/14</td>
				      <td>$327,900</td>
				    </tr>
				    <tr>
				      <td>Colleen Hurst</td>
				      <td>Javascript Developer</td>
				      <td>San Francisco</td>
				      <td>39</td>
				      <td>2009/09/15</td>
				      <td>$205,500</td>
				    </tr>
				    <tr>
				      <td>Sonya Frost</td>
				      <td>Software Engineer</td>
				      <td>Edinburgh</td>
				      <td>23</td>
				      <td>2008/12/13</td>
				      <td>$103,600</td>
				    </tr>
				    <tr>
				      <td>Jena Gaines</td>
				      <td>Office Manager</td>
				      <td>London</td>
				      <td>30</td>
				      <td>2008/12/19</td>
				      <td>$90,560</td>
				    </tr>
				    <tr>
				      <td>Quinn Flynn</td>
				      <td>Support Lead</td>
				      <td>Edinburgh</td>
				      <td>22</td>
				      <td>2013/03/03</td>
				      <td>$342,000</td>
				    </tr>
				    <tr>
				      <td>Charde Marshall</td>
				      <td>Regional Director</td>
				      <td>San Francisco</td>
				      <td>36</td>
				      <td>2008/10/16</td>
				      <td>$470,600</td>
				    </tr>
				    <tr>
				      <td>Haley Kennedy</td>
				      <td>Senior Marketing Designer</td>
				      <td>London</td>
				      <td>43</td>
				      <td>2012/12/18</td>
				      <td>$313,500</td>
				    </tr>
				    <tr>
				      <td>Tatyana Fitzpatrick</td>
				      <td>Regional Director</td>
				      <td>London</td>
				      <td>19</td>
				      <td>2010/03/17</td>
				      <td>$385,750</td>
				    </tr>
				    <tr>
				      <td>Michael Silva</td>
				      <td>Marketing Designer</td>
				      <td>London</td>
				      <td>66</td>
				      <td>2012/11/27</td>
				      <td>$198,500</td>
				    </tr>
				    <tr>
				      <td>Paul Byrd</td>
				      <td>Chief Financial Officer (CFO)</td>
				      <td>New York</td>
				      <td>64</td>
				      <td>2010/06/09</td>
				      <td>$725,000</td>
				    </tr>
				    <tr>
				      <td>Gloria Little</td>
				      <td>Systems Administrator</td>
				      <td>New York</td>
				      <td>59</td>
				      <td>2009/04/10</td>
				      <td>$237,500</td>
				    </tr>
				    <tr>
				      <td>Bradley Greer</td>
				      <td>Software Engineer</td>
				      <td>London</td>
				      <td>41</td>
				      <td>2012/10/13</td>
				      <td>$132,000</td>
				    </tr>
				    <tr>
				      <td>Doris Wilder</td>
				      <td>Sales Assistant</td>
				      <td>Sidney</td>
				      <td>23</td>
				      <td>2010/09/20</td>
				      <td>$85,600</td>
				    </tr>
				    <tr>
				      <td>Angelica Ramos</td>
				      <td>Chief Executive Officer (CEO)</td>
				      <td>London</td>
				      <td>47</td>
				      <td>2009/10/09</td>
				      <td>$1,200,000</td>
				    </tr>
				  </tbody>
				</table>
			</div>
	  	</main>
	  	
	  	<th:block th:replace="fragments/common::footer"></th:block>
	</div>

	<th:block th:replace="fragments/common::javascript"></th:block>

	<script th:inline="javascript">

	$(document).ready(function() {
		 
// 		displayOrderListDatatable();
		 
		 function displayCustomerListDatatable(){
//  			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/'';
	    		
	    		var dataTable = $('#dataTables-customerList').DataTable({	    			
	    			"ajax" : {
	    				url : "/customers/listDto",
	    				dataSrc: "customerList",
	    			},	    			
	    			"lengthMenu": [5, 10, 25, 50],
	    			"ordering": false,
	                "columnDefs": [
	    			    { "width": "5%", "targets": 3 }
	    			],
	    			"columns": [
	    				{ data: "type" },
	    				{ data: "amount" },
	    				{ data: "expenseDate" },	    				
	    				{ data: "remarks" }
	    			]
	    		});  		
	    	} //end displayOrderListDatatable()
	    	
	});
	
	</script>
	
	<script>
		  // Material Design example
		$(document).ready(function () {
		  $('#dtMaterialDesignExample').DataTable({
			  "pagingType": "first_last_numbers"
		  });
		  $('#dtMaterialDesignExample_wrapper').find('label').each(function () {
		    $(this).parent().append($(this).children());
		  });
		  $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
		    const $this = $(this);
		    $this.attr("placeholder", "Search");
		    $this.removeClass('form-control-sm');
		  });
		  $('#dtMaterialDesignExample_wrapper .dataTables_length').addClass('d-flex flex-row');
		  $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
		  $('#dtMaterialDesignExample_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
		  $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
		  $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
		  $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
		});
	</script>
</body>